@import url("https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&display=swap");
html, body {
  font-size: 62,5%;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

::-moz-selection {
  background-color: grey;
}

::selection {
  background-color: grey;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  /* Or Black */
}

blockquote, q {
  quotes: none;
}

button {
  background-color: transparent;
  border: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input, textarea, select {
  font: inherit;
}

body {
  max-width: 960px;
  padding: 0 20px;
  margin: 0 auto;
  font-size: 62.5%;
  font-family: 'Biryani', sans-serif;
}

header {
  text-align: center;
  padding: 60px 20px;
}

header h1 img {
  width: 80px;
}

header .menu-toggle {
  z-index: 5;
  position: fixed;
  left: 30px;
  top: 30px;
}

.menu {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 500px;
  background-color: #f1f1f1;
  height: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: ease all .7s;
  transition: ease all .7s;
}

.menu nav {
  padding: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
}

.menu nav a {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 10px;
  display: block;
  color: black;
  text-transform: capitalize;
}

.menu nav a:hover {
  -webkit-transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: translateX(25px);
          transform: translateX(25px);
}

.menu.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

section {
  margin-bottom: 60px;
}

.natural {
  padding-right: 260px;
  position: relative;
}

.natural h2 {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 6.4em;
  line-height: 1.125;
  font-weight: 700;
  max-width: 360px;
}

.natural:hover img {
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.natural:hover h2 {
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  -webkit-transform: scale(1.1) translateY(-20px);
          transform: scale(1.1) translateY(-20px);
}

.one-thing {
  position: relative;
  padding-left: 360px;
}

.one-thing div {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  top: 50%;
  max-width: 360px;
}

.one-thing div h3 {
  font-size: 3.2em;
  line-height: 1.125;
  font-weight: 700;
}

.one-thing div p {
  margin-top: 20px;
  font-size: 3.2em;
  font-weight: 200;
}

.one-thing:hover img {
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.one-thing:hover h3,
.one-thing:hover p {
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  -webkit-transform: scale(0.8) translateY(-20px);
          transform: scale(0.8) translateY(-20px);
}

.lookbook {
  padding: 220px 0 180px;
  background: url("/assets/image_3.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.lookbook h2 {
  text-align: center;
  color: white;
  font-size: 6.4em;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
/*# sourceMappingURL=style.css.map */