@import "_base.scss";
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&display=swap');


body {
    max-width: 960px;
    padding: 0 20px;
    margin: 0 auto;
    font-size: 62.5%;
    font-family: 'Biryani', sans-serif;
}

header {
    text-align: center;
    padding: 60px 20px;

    h1 {
        img {
            width: 80px;
        }
    }

    .menu-toggle {
        z-index: 5;
        position: fixed;
        left: 30px;
        top: 30px;
    }

}

.menu {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 500px;
    background-color: rgb(241, 241, 241);
    height: 100%;
    transform: translateX(-100%);
    transition: ease all .7s;


    nav {
        // opacity: 0;
        padding: 20px;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;

        a {
            font-size: 3.2rem;
            font-weight: 700;
            margin-bottom: 10px;
            display: block;
            color: black;
            text-transform: capitalize;

            &:hover {
                transition: all .2s cubic-bezier(0.19, 1, 0.22, 1);
                transform: translateX(25px);
            }

        }
    }

    &.open {
        transform: translateX(0);
    }
}

section {
    margin-bottom: 60px;
}

.natural {
    padding-right: 260px;
    position: relative;

    h2 {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 6.4em;
        line-height: 1.125;
        font-weight: 700;
        max-width: 360px;
    }

    &:hover img {
        transition: all .2s ease-in;

        transform: rotate(-5deg);
    }

    &:hover h2 {
        transition: all .2s ease-in;

        transform: scale(1.1) translateY(-20px);
    }
}

.one-thing {
    position: relative;
    padding-left: 360px;

    div {
        position: absolute;
        transform: translateY(-50%);
        left: 0;
        top: 50%;
        max-width: 360px;

        h3 {
            font-size: 3.2em;
            line-height: 1.125;
            font-weight: 700;
        }

        p {
            margin-top: 20px;
            font-size: 3.2em;
            font-weight: 200;
        }
    }

    &:hover img {
        transition: all .2s ease-in;

        transform: rotate(5deg);
    }

    &:hover h3,
    &:hover p {
        transition: all .2s ease-in;

        transform: scale(.8) translateY(-20px);
    }

}

.lookbook {
    padding: 220px 0 180px;
    background: url("/assets/image_3.jpg") no-repeat 50% 50%;
    background-size: cover;


    h2 {
        text-align: center;
        color: white;
        font-size: 6.4em;
        transition: all .2s ease-in;

    }

    // &:hover h2 {
    //     transform: scale(1.4);
    // }

}